CustomLayoutArea  
{  
    background: red;  
}  

CustomLayoutItem #CustomLayoutItemTitleFrame  
{  
    background: yellow;  
}  

CustomLayoutItem #CustomLayoutItemContentFrame  
{  
    background: cyan;  
}

CustomLayoutMask
{
    background: pink; 
}